@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Roslyn Bugs</h1>
    <p class="lead">Provides visualization over custom queries for <a href="https://github.com/dotnet/roslyn/issues">Roslyn bugs</a>.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>jaredpar</h2>
        <ul>
            <li>@Html.ActionLink("Graph", "Graph", "Bugs", new { view = "jaredpar" }, null)</li>
            <li>@Html.ActionLink("List", "List", "Bugs", new { view = "jaredpar" }, null)</li>
            <li>@Html.ActionLink("Triage", "Triage", "Bugs", new { view = "jaredpar" }, null)</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>pilchie</h2>
        <ul>
            <li>@Html.ActionLink("Graph", "Graph", "Bugs", new { view = "me@pilchie.com" }, null)</li>
            <li>@Html.ActionLink("List", "List", "Bugs", new { view = "me@pilchie.com" }, null)</li>
            <li>@Html.ActionLink("Triage", "Triage", "Bugs", new { view = "me@pilchie.com" }, null)</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>Others?</h2>
        <p>We can fill in someone else if we want.</p>
    </div>
</div>